header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    line-height: 100px;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    background-color: #223344;
}

body {
    margin: 0;
}

ul {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2em;
    max-width: 1100px;
    text-align: center;
    list-style-type: none;
}